<div class='app-card-container'>
 <div class='card'>
     

<h1>About Me</h1>


    <div class="row">
    <div class="col-md-4">
        <%= image_tag "headshot.jpg?$%^", width: 300, alt: "profile image", class: 'profile-img' %>
        
        <div class="skills">
            <% @skills.each do |skill| %>
            <div class="skill">
             <h4><%= skill.title %></h4>
             <div class="progress">
               <div 
               class="progress-bar progress-bar-striped bg-warning"
               role="progressbar"
               aria-valuenow='<%= skill.percent_utilized %>'
               aria-valuemax='100'
               style='width: <%= skill.percent_utilized %>%'
                   ></div>
               </div>     
             </div>
            <% end %>
        </div>
    </div>
    
        <div class="col-md-8">
        <p> 
        <h3>Senior Advisor in the entertainment industry with a focus on major sports leagues. 
        Proven track record of creating lasting partnerships leading to consistent revenue growth for partners.</h3>
        </p>
        
        <p>
            <button
                class="btn btn-primary"
                type='button'
                data-toggle='collapse'
                data-target='#jobHistory'
                aria-expanded='false'
                aria-controls='jobHistory'
            >
                Job History
                </button>
                
            <button
                class="btn btn-primary"
                type='button'
                data-toggle='collapse'
                data-target='#education'
                aria-expanded='false'
                aria-controls='education'
            >
                Education
                </button>
        </p>
    <p>
            <div class='collapse' id='jobHistory'>
              <div class='card card-block'>
                  Goldstar - Senior Venue Advisor:  June 2014 - Present
              </div>
               <div class='card card-block'>
                  Kaiser Permanente - Road Manager/Assistant Production Manager:  June 2009 - June 2014
              </div>  
               <div class='card card-block'>
                  City of Roseville Parks & Rec - Assistant Site Director:  May 2005 - May 2009
              </div>
               <div class='card card-block'>
                  <a href='https://www.linkedin.com/in/kyle-vermeulen-1aa7104a/'target="_blank">See more info on my Linkedin page</a> 
              </div>  
            </div>
            
        <div class='collapse' id='education'>
              <div class='card card-block'>
                  Saint Mary's College of California class of 2009 - BA in Communications
              </div>
               <div class='card card-block'>
                  Oakmont High School class of 2005
              </div>
        </div>
    </p>
        </div>
    </div>
  </div>   
</div>