<h1>About Me</h1>
<p> 
<h3>I am an avid skier (come find me on top of Mt. Hood), wakeboarder, Nintendo fanboy, Rails developer, and strongly prefer DC over Marvel.  Feel free to reach out and discover why I am known by many as the "Man with 1,000 Dad Jokes"</h3>
</p>
