<div class='app-card-container'>
 <div class='card'>

<h1>Would you like to work together?</h1>

        <div class="row">
            <div class="col-md-6">
                <h3> Office Address</h3>
        
                <p>112 NE 6th Ave, Portland, OR 97232</p>
        
                <h3>Phone</h3>
        
                <p><%= number_to_phone "9167655153" %></p>
        
                <h3>Email</h3>
        
                <p><a href="mailto: kyletvermeulen@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
        
            </div>
    
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3148677931867!2d-122.6615892842751!3d45.523868979101714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a0af3fe56085%3A0x4d31ae2231bbf63f!2s112+NE+6th+Ave%2C+Portland%2C+OR+97232!5e0!3m2!1sen!2sus!4v1524090137974" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
        </div>
    </div>
</div>
