 <div class="inner cover">
     <h1 class="cover-heading">Kyle Vermeulen's Resume</h1>
     <p class="lead">Senior Venue Advisor/ New Market Development at Goldstar Events, Inc.</p>
     <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>




