 <div class="inner cover">
     <h1 class="cover-heading">Welcome.</h1>
     <p class="lead">Developing partnerships is beyond the introduction, expressing benefits, and closing a deal.  It's an opportunity to listen and learn outside of your own comfort zone.</p>
     <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>




